#! /usr/bin/env bash

PROJECT_PATH="{{ psono_project_path }}"
BACKUP_DATE="$(date +%Y-%m-%d_%H%M)"
BASE_BACKUP_PATH="{{ psono_backup_path }}"
CURRENT_BACKUP_PATH="${BASE_BACKUP_PATH}/${BACKUP_DATE}"

echo "########################################"
echo "# Creating a new Psono backup !"
echo "########################################"
echo ""
echo "Backup path is: $CURRENT_BACKUP_PATH"

mkdir -p "$CURRENT_BACKUP_PATH"



pushd "$PROJECT_PATH" > /dev/null

echo "Putting everything into one .tar.gz file ..."
tar --create \
    --gzip \
    --file "$CURRENT_BACKUP_PATH/psono_backup.tar.gz" \
    --verbose \
    "./"

popd > /dev/null


echo "[DONE]"
