{
  "backend_servers": [{
    "title": "Password Store",
    "url": "https://{{ psono_server_domain }}",
    "domain": "{{ psono_base_domain }}"
  }],
  "base_url": "https://{{ psono_domain }}",
  "allow_custom_server": true,
  "allow_registration": false,
  "allow_lost_password": true,
  "disable_download_bar": false,
  "authentication_methods": ["AUTHKEY"],
  "saml_provider": []
}
